.ContactsBody {
  display: flex;
  flex-direction: column;
  background: rgb(70, 69, 69);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ContactsBody > ul {
  display: flex;
  flex-direction: row;
  width: max-content;
  padding: 10px;
}

.ContactsBody li {
  list-style: none;
  margin: 0 20px;
  border-right: 1px solid white;
  padding: 0 20px;
}

.ContactsBody li:first-child {
  width: 60px;
}

.ContactsBody li:nth-of-type(2) {
  width: 110px;
}

.ContactsBody li:last-child {
  width: max-content;
}

.ContactsBody-load {
  display: flex;
  height: 70vh;
  font-size: 26px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .ContactsBody li {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 768px) {
  .ContactsBody {
    padding: 0 20px 20px;
    width: 80vw;
  }

  .ContactsBody > ul {
    flex-direction: column;
    border-bottom: 1px solid gray;
  }

  .ContactsBody li {
    border-right: none;
    letter-spacing: 1.5px;
    margin: 0 0 5px 0;
  }
}
