.RulesBody {
  width: 70%;
  margin: 0;
  background: rgb(70, 69, 69);
  padding: 30px 50px;
  border-radius: 10px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.RulesBody li {
  margin: 20px 0;
  list-style: decimal;
  font-size: 16px;
  font-family: cursive;
}

.RulesBody li:last-child {
  border-top: 1px solid gray;
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .RulesBody li {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}

@media (max-width: 768px) {
  .rules {
    width: 90vw;
    margin: 0 auto;
  }
}
